{% extends "layout.html" %}
{% block content %}

<div class="row">
	<div class="col-lg-6">
		<table id="klp-table" class="table table-hover table-condensed table-striped">
			<thead>
				<tr><th>KLP</th><th>Name</th><th>DISE Code</th></tr>
			</thead>
			<tbody>
				{% for school in klp_schools %}
				<tr class="klp" onclick="register('klp');">
					<td>{{ school[3] }}</td>
					<td>{{ school[4] }}</td>
					<td>{{ school[5] }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-lg-6">
			<table id="klp-table" class="table table-hover table-condensed table-striped">
			<thead>
				<tr><th>DISE Code</th><th>Name</th></tr>
			</thead>
			<tbody>
				{% for school in dise_schools %}
				<tr class="dise" onclick="register('dise')">
					<td>{{ school[3] }}</td>
					<td>{{ school[4] }}</td>
				</tr>
				{% endfor %}				
			</tbody>
		</table>
	</div>
</div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

{% endblock %}
{% block footerscripts %}
 <script type="text/javascript">
	$('tr').click(function() {
		$(this).addClass('success').siblings().removeClass('success');
		if ($('.success').length == 2) {
			// console.log('match');
			$('#myModal').modal('show');
		}
	});
 </script>
{% endblock %}